/DoNotCommit
__pycache__/translate.cpython-313.pyc
/translated_files
.idea/indexLayout.xml
.idea/vcs.xml
__pycache__/translate.cpython-312.pyc
.idea/misc.xml
.idea/.idea.TranslateBookWithLLM.dir/.idea/workspace.xml
.idea/.idea.TranslateBookWithLLM.dir/.idea/projectSettingsUpdater.xml
